pre {
    max-height: 400px
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight-code-line {
  /*background-color: #feb;*/
  background-color: #46483d;
  display: block;
  min-width: 500em;
  /*margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;*/
  /*background-color: #46483d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;*/
  overflow: visible;
}

.gatsby-highlight {
  background-color: #272822;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  /*min-width: 100%; /* 2 */
}

.gatsby-highlight-container {
  display: flex;
  flex-direction: column;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
  height: 1.5em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  position: relative;
}

.gatsby-highlight-tooltip {
  /*position: relative;
  display: inline-block;*/
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #46483d;
  display: flex;
  color: gold;
}

.gatsby-highlight-tooltip-empty {
  display: flex;
  color: transparent;
}

.gatsby-highlight-tooltip .gatsby-highlight-tooltip-text {
  visibility: hidden;
  background: #46483d;
  z-index: 1;
  min-width: 500em;
  position: absolute;
  user-select: text;
  bottom: 100%;
  left: 0px;
}

.gatsby-highlight-tooltip:hover .gatsby-highlight-tooltip-text {
  visibility: visible;
}

.gatsby-highlight-tooltip-text a {
  color: gold;
}

.demo {
  width: 100%;
  height: 400px;
}

.demo-text {
  font-style: italic;
  margin-top: -2em;
}

.gatsby-video-alt-text {
  font-style: italic;
  color: hsla(0,0%,0%,0.59);
  font-size: 90%;
}
